h1{
    text-align: center;
    font-weight: 5;
    /* font-size: 5000px; */
    margin-top: 10px;
}
input{
    width: 300px;
    
}

.item-container{
    text-align: center  ;
}
.item-button{
    min-width: 80px;
    
}
.row{
    margin: 10px 5px;
}
